<div class = "box">
	<img class = "book-logo" src=" ../{{image}}" alt="Photo of Book" />
	 <a href="/viewessayandcomment?essaytitle={{essaytitle}}" id="view-essay" style="outline:none;color:black;"><p>{{essaytitle}}</p></a>
	<div class = "like-comment">
		<i onclick="#" class="fa fa-thumbs-up" name="like"></i>
	</div>
</div>