<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Read Me! - Creativity Hub</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" type="text/css" href="/css/page.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>

	<body>
		<div class="navbar">
		  <a href="signin" id="signin">Sign In</a>

		  <a href="signup" id="signup">Sign Up</a>
			

			<div class="logo">
				<img src="/images/read_me_logo.jpg" alt="Photo of Logo" />
			</div>
		</div>

		<div class="logo">
			<img src="/images/read_me_logo.jpg" alt="Photo of Logo" />
		</div>

		<div class="search-bar">
			<form class="search-bar-input" action="/0search"  style="margin:auto;max-width:310px">
			  <input type="text" placeholder="Search..." name="search">
			  <button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>

		<div class="next-prev">
			<a href="#" class="previous">&laquo; Previous</a>
			<a href="#" class="next">Next &raquo;</a>
		</div>

		<div class="box-container">
			<div class = "box">
				<img class = "book-logo" src="meditations.jpg" alt="Photo of Book" />
				 <a href="/signin" id="view-essay" style="outline:none;color:black;"><p>Meditations</p></a>
				<div class = "like-comment">
					<i onclick="#" class="fa fa-thumbs-up" name="like"></i>
				</div>
			</div>

			{{#each result}}
                {{> boxloggedout essaytitle=essaytitle image=image}}
            {{/each}}

		</div>
	</body>

</html>